if TARGET_N1_655_COBRA

# include/configs/<target>.h
config SYS_CONFIG_NAME
	default "n1_655_cobra"

# board/<board>/* (or board/<vendor>/<board>/* if CONFIG_SYS_VENDOR is defined)
config SYS_BOARD
	default "n1_655_cobra"

endif
