if ARCH_AMBARELLA

# board/<vendor>/common/* and board/<vendor>/<board>/*
config SYS_VENDOR
	default "ambarella"

# arch/<arch>/cpu/<cpu>/<soc> and mach-<soc>
config SYS_SOC
	default "ambarella"

config ARCH_AMBARELLA_CV28
	def_bool n

config ARCH_AMBARELLA_CV25
	def_bool n

config ARCH_AMBARELLA_S6LM
	def_bool n

config ARCH_AMBARELLA_CV5
	def_bool n

config ARCH_AMBARELLA_CV3
	def_bool n

config ARCH_AMBARELLA_CV72
	def_bool n

choice
	prompt "Ambarella board select"

config TARGET_S6LM_DEVKIT
	bool "Ambarella S6L devkit"
	select ARCH_AMBARELLA_S6LM
	help
		Ambarella International LP

config TARGET_CV25_DEVKIT
	bool "Ambarella CV25 devkit"
	select ARCH_AMBARELLA_CV25
	help
		Ambarella International LP

config TARGET_CV28_DEVKIT
	bool "Ambarella CV28 devkit"
	select ARCH_AMBARELLA_CV28
	help
		Ambarella International LP

config TARGET_CV5_DEVKIT
	bool "Ambarella CV5 devkit"
	select ARCH_AMBARELLA_CV5
	help
		Ambarella International LP

config TARGET_CV3_DEVKIT
	bool "Ambarella CV3 devkit"
	select ARCH_AMBARELLA_CV3
	help
		Ambarella International LP

config TARGET_CV3_BUB
	bool "Ambarella CV3 Bring-Up Board"
	select ARCH_AMBARELLA_CV3
	help
		Ambarella International LP

config TARGET_CV72_DEVKIT
	bool "Ambarella CV72 devkit"
	select ARCH_AMBARELLA_CV72
	help
		Ambarella International LP

endchoice

#source "board/ambarella/s6lm_devkit/Kconfig"
#source "board/ambarella/cv25_devkit/Kconfig"
#source "board/ambarella/cv28_devkit/Kconfig"
source "board/ambarella/cv5_devkit/Kconfig"
source "board/ambarella/cv72_devkit/Kconfig"
source "board/ambarella/cv3_devkit/Kconfig"
source "board/ambarella/cv3_bub/Kconfig"

endif
