CONFIG_ARM=y
CONFIG_SYS_TEXT_BASE=0x00000000
CONFIG_TARGET_CV22_DEVKIT=y
CONFIG_SYS_CONFIG_NAME="cv22"
# CONFIG_DISPLAY_CPUINFO is not set
# CONFIG_DISPLAY_BOARDINFO is not set
CONFIG_BOARD_EARLY_INIT_F=y
CONFIG_BOARD_LATE_INIT=y
CONFIG_ARCH_AMBARELLA=y

#
# Compatiable with AMBOOT
#
CONFIG_ENABLE_ARM_SOC_BOOT0_HOOK=y

CONFIG_FIT=y
CONFIG_DM=y
CONFIG_OF_CONTROL=y
CONFIG_MULTI_DTB_FIT=y

#
# Memory allocator in board_f.
#  - malloc_simple.c
#
CONFIG_SYS_MALLOC_F_LEN=0x100000

#
# Serial
#
CONFIG_AMBARELLA_SERIAL=y
CONFIG_DM_SERIAL=y

CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_BASE=0xe4000000
CONFIG_DEBUG_UART_CLOCK=24000000

#
# Pinctrl
#
CONFIG_PINCTRL=y
CONFIG_PINCTRL_FULL=y
CONFIG_PINCTRL_AMBARELLA=y

#
#GPIO
#
CONFIG_DM_GPIO=y
CONFIG_AMBARELLA_GPIO=y
CONFIG_CMD_GPIO=y
#
# Watchdog
#
CONFIG_WATCHDOG=y
CONFIG_WDT=y
CONFIG_WDT_AMBARELLA=y

#
# NAND media
#
CONFIG_MTD=y
CONFIG_NAND_AMBARELLA=y
CONFIG_MTD_RAW_NAND=y
CONFIG_CMD_MTDPARTS=y

CONFIG_CMD_MTD=y

#
# Regmap
#
CONFIG_REGMAP=y
CONFIG_SYSCON=y

#
# !!! For debug. removed later.
#
CONFIG_LOGLEVEL=8

#
# Fastboot
#
CONFIG_USB_FUNCTION_FASTBOOT=y
CONFIG_FASTBOOT_BUF_SIZE=0x08000000
CONFIG_FASTBOOT_BUF_ADDR=0x10000000

CONFIG_USB=y
CONFIG_USB_GADGET=y
CONFIG_AMBARELLA_UDC=y
CONFIG_DM_USB_GADGET=y
CONFIG_DM_USB=y

CONFIG_USB_GADGET_MANUFACTURER="AMBA"
CONFIG_USB_GADGET_VENDOR_NUM=0x18d1
CONFIG_USB_GADGET_PRODUCT_NUM=0x4ee0

#
# Fastboot flash
#
CONFIG_FASTBOOT_FLASH=y
CONFIG_FASTBOOT_FLASH_NAND=y

#
# ARMV8 spin table
#
CONFIG_ARMV8_MULTIENTRY=y
CONFIG_ARMV8_SPIN_TABLE=y
CONFIG_ARMV8_SET_SMPEN=y


#
# support if, while, for ... in bootcmd
#
CONFIG_HUSH_PARSER=y
