if TARGET_CV28_DEVKIT

# include/configs/<target>.h
config SYS_CONFIG_NAME
	default "cv28"

# board/<board>/* (or board/<vendor>/<board>/* if CONFIG_SYS_VENDOR is defined)
config SYS_BOARD
	default "cv28_devkit"

endif
