if TARGET_CV72_COOPER_MINI

# include/configs/<target>.h
config SYS_CONFIG_NAME
	default "cv72_cooper_mini"

# board/<board>/* (or board/<vendor>/<board>/* if CONFIG_SYS_VENDOR is defined)
config SYS_BOARD
	default "cv72_cooper_mini"

endif
